

<div class="loader" *ngIf="loading">
  <img src="../../../../assets/img/loader.gif" class="img">
</div>

<!--<div style="height:400px;max-height:400px;overflow-y:auto; overflow-x:hidden;">-->
<div style="padding-bottom:10px;" *ngFor="let r of inventoryList">
<ng-container *ngIf="r.message != 'Success.'; else elseTemplate">
  <!--
  <div style="float:left; width:100%;">
  		<h3 class="tab-title">Inventory Returns</h3>
  </div>
-->
  <br><br>
  <hr>
  <div class="row">
  	<div class="col-md-12 text-center">
      No Results Found
    </div>
  </div>
  <hr>
  <br><br>
</ng-container>
<ng-template #elseTemplate>




<div class="row" style="margin-bottom:10px;">
  <div class="col-md-1 col-sm-0 col-0">
    <label>Filters: </label>
  </div>
  <div class="col-md-2 col-sm-0 col-0">
    <select (change)="onFilterCategoryChange($event)" [value]="filterStatus" class="form-control full-width">
        <option value="">-- Status --</option>
        <option value="Received">Received</option>
        <option value="Not Received">Not Received</option>
    </select>
  </div>



      <div class="col-md-2 col-sm-0 col-0">
          <input type="date" (input)="onFilterDateChange($event)" [value]="filterDate" class="form-control full-width">
      </div>

      <div class="col-md-4 col-sm-0 col-0"></div>

      <div class="col-md-3 col-sm-0 col-0">
          <div class="input-group full-width less-mt" id="manageitsearch">
              <input (input)="onFilterSearchChange($event)" (keydown)="onKeyDown($event)" [value]="searchQuery" class="form-control" placeholder="Search" type="text">
              <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="onSearch()"><i class="fa fa-search"></i></button>
              </div>
          </div>
      </div>
  </div>




<!--
{{inventoryList}}
<li *ngFor="let hero of inventoryList; let idx = index">
      {{hero | json}}
</li>
-->
<!--
<app-inventory-item-create #onNewItemComponent></app-inventory-item-create>
-->
<app-inventory-modal-receive #onNewItemComponent></app-inventory-modal-receive>


<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
		<tr class="tbl-header">
      <th class="thSort" [class.active]="order === 'store'"
        (click)="setRetailerOrder('name', 'store')">Store Name
        <span [hidden]="store">
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </span>
      </th>
      <th class="thSort" [class.active]="order === 'qty'"
        (click)="setRetailerOrder('quantity', 'qty')">Quantity
        <span [hidden]="qty">
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </span>
      </th>
      <th class="thSort" [class.active]="order === 'retailer'"
        (click)="setRetailerOrder('owner', 'retailer')">Retailer (owner)
        <span [hidden]="retailer">
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </span>
      </th>
      <th class="thSort" [class.active]="order === 'return_type'"
        (click)="setRetailerOrder('reason', 'return_type')">Reason
        <span [hidden]="return_type">
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </span>
      </th>
      <th class="thSort" [class.active]="order === 'agent'"
        (click)="setRetailerOrder('first_name', 'agent')">Agent
        <span [hidden]="agent">
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </span>
      </th>
      <th class="thSort" [class.active]="order === 'stat'"
        (click)="setRetailerOrder('status', 'stat')">Status
        <span [hidden]="stat">
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </span>
      </th>
      <th class="thSort" [class.active]="order === 'date'"
        (click)="setRetailerOrder('timestamp', 'date')">Date
        <span [hidden]="date">
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </span>
      </th>
      <th scope="col">Action</th>
      <!--
			<th scope="col">Product Name</th>
			<th scope="col">Quantity</th>
			<th scope="col">Retailer</th>
			<th scope="col">Return type</th>
			<th scope="col">Agent (SRP)</th>
			<th scope="col">Status</th>
      <th scope="col">Date</th>
			<th scope="col">Action</th>
    -->
		</tr>
	</thead>


	<tbody>
		<tr *ngFor="let product of arr | orderBy: order: reverse | filterReturned: filterStatus:filterDate | searchReturn: filterSearchQuery | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
<!--
    <tr *ngFor="let product of inventoryList | orderBy: order: reverse | filterReturned: filterStatus:filterDate | searchReturn: filterSearchQuery | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
-->
      <td>{{ product.name }}</td>
			<td>{{ product.quantity }}</td>
			<td>{{ product.owner }}</td>
			<td>{{ product.reason }}</td>
			<td>{{ product.agentname }}</td>
			<td>{{ product.status }}</td>
      <td>{{ product.timestamp }}</td>
			<td align='center'>
				<button [disabled]="product.status != 'Not Received'" (click)="openReceiveModal(product.id)" class="btn btn-success btn-block text-center" type="button">Receive</button>
			</td>
		</tr>
	</tbody>
</table>
</div>




<div class="row">
	<div class="col-md-6 form-inline">
		<label>Show :</label>&nbsp;&nbsp;
		<select (change)="onShowCountChange($event)" class="form-control sel-show full-width">
            <option selected value="5">5</option>
            <option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
        </select>
    </div>
	<div class="col-md-6">
		<div class="form-group pg-form-group text-right">
			<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>
</div>


</ng-template>

</div>


<app-modal #receiveDialog>
  <ng-template #modalHeader>Receive Item</ng-template>
  <ng-template #modalBody>
    <div class="container">
      <div class="row alert alert-info">
        <div class="col-md-10 form-inline">
          <h5>Are you sure you want to receive this returned item(s)?</h5>
        </div>
      </div>
    </div>
    <!--<h3 style="text-align:center;">Are you sure?</h3>-->
  </ng-template>
  <ng-template #modalFooter>
    <div class="container-fluid">
      <div class="row">
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-item-create btn-success btn-block text-center" (click)="onSubmit()" style="margin:3px;">Yes</button>
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-item-create btn-default btn-block text-center" (click)="closeReceiveModal()" style="margin:3px;">Cancel</button>
      	</div>
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      </div>
    </div>
  </ng-template>
</app-modal>
