<app-modal #itemCreateModal>
	<ng-template #modalHeader>Receive Item</ng-template>

	<ng-template #modalBody>
		<div class="content">
			<div class="row alert alert-info">
				<div class="col-md-10 form-inline">
					<h5>Confirm return?</h5>
				</div>
			</div>

			<form class="row-form">

			</form>
		</div>
	</ng-template>

	<ng-template #modalFooter>
		<!--
		<div class="row">
			<div class="col-md-6 text-right">
				<button class="btn btn-item-create btn-success form-inline">Confirm</button>
			</div>
			<div class="col-md-6 text-left">
				<button class="btn btn-item-create btn-default form-inline" (click)="closeModal()">Cancel</button>
			</div>
		</div>
	-->

<!--
	<div align="center">
		<button class="btn btn-item-create btn-success">Confirm</button>
		<div class="divider"></div>
		<button class="btn btn-item-create btn-default" (click)="closeModal()">Cancel</button>
	</div>
-->





<div class="content">
  <div class="row">
    <div class="col">
			<div class="row">
		    <div class="col">
		    </div>
		    <div class="col">
		      <button class="btn btn-item-create btn-secondary form-inline">Delete</button>
		    </div>
		  </div>
    </div>
    <div class="col">
			<div class="row">
		    <div class="col">
		      <button class="btn btn-item-create btn-secondary form-inline" (click)="closeModal()">Cancel</button>
		    </div>
		    <div class="col">
		    </div>
		  </div>
    </div>
  </div>
</div>

<!--
	<div class="row" align="center">
		<div class="col-md-6 text-right">
			<button class="btn btn-item-create btn-secondary form-inline">Delete</button>
		</div>
		<div class="col-md-6 text-left">
			<button class="btn btn-item-create btn-secondary form-inline" (click)="closeModal()">Cancel</button>
		</div>
	</div>
-->


	</ng-template>
</app-modal>
