/* You can add global styles to this file, and also import other style files */


html {
	width:100%;
}

body {
	background: #f3f3f3;
	width:100%;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-weight: 400 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #6a6d72;
}

a.nav-link{
	color: #000;
	font-weight: 400 !important;
}

.container.tab-pane.active{
	background: #fff;
	border: 1px solid #dee2e6;
	border-top: 0 !important;

}
