
<div class="loader" *ngIf="loading">
  <img src="../../../../assets/img/loader.gif" class="img">
</div>

<div *ngIf="!loading">
<div style="overflow-y:auto; overflow-x:auto;" *ngFor="let r of arrRetailers2">
  <div style="margin-bottom:10px;">

  <div class="col-form form-inline" style="float:right;">
      <div class="input-group full-width less-mt" id="manageitsearch">
          <input (input)="onFilterSearchChange($event)" (keydown)="onKeyDown($event)" [value]="searchQuery" class="form-control" placeholder="Search" type="text">
          <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="onSearch()"><i class="fa fa-search"></i></button>
          </div>
      </div>
  </div>


<br>


<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
      <tr class="tbl-header">
        <th [class.active]="order === 'name'"
          (click)="setRetailerOrder('name', 'name')">Store Name
          <span [hidden]="name">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th [class.active]="order === 'owner'"
          (click)="setRetailerOrder('owner', 'owner')">Store Person/Owner
          <span [hidden]="owner">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th [class.active]="order === 'agent'"
          (click)="setRetailerOrder('agent', 'agent')">Agent
          <span [hidden]="agent">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th [class.active]="order === 'street_name'"
          (click)="setRetailerOrder('street_name', 'street_name')">Street
          <span [hidden]="street_name">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th [class.active]="order === 'country'"
          (click)="setRetailerOrder('country', 'country')">District
          <span [hidden]="country">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th [class.active]="order === 'township'"
          (click)="setRetailerOrder('township', 'township')">Township
          <span [hidden]="township">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of r.data | orderBy: order: reverse | searchServiceable: filterSearchQuery |  paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <ng-container *ngIf="!item.noresult; else elseTD">
        <td>{{ item.name }}</td>
        <td>{{ item.owner }}</td>
        <td>
          <ng-container *ngIf="item.assigned_agents != 0; else elseTemplate">
            {{ item.assigned_agents[0].first_name }} {{ item.assigned_agents[0].last_name }}
          </ng-container>
          <ng-template #elseTemplate>
            - no agent -
          </ng-template>
        </td>
        <td>{{ item.street_name }}</td>
        <td>{{ item.cluster }}</td>
        <td>{{ item.township }}</td>
        <td style="text-align:center;">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
              <button class="btn btn-info btn-block text-center" type="button" (click)="openEditModal(item)">Edit
              </button>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
              <button class="btn btn-danger btn-block text-center" type="button" (click)="openDeleteModal(item)">Delete
              </button>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-template #elseTD>
        <td colspan="7" style="text-align:center;">No records Found</td>
      </ng-template>

      </tr>
    </tbody>

  </table>
</div>


</div></div>

<div class="row">
	<div class="col-md-6 form-inline">
		<label>Show :</label>&nbsp;&nbsp;
		<select (change)="onShowCountChange($event)" class="form-control sel-show full-width">
      <option selected value="5">5</option>
      <option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
        </select>
    </div>
	<div class="col-md-6">
		<div class="form-group pg-form-group text-right">
			<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>
</div>

</div>


<app-modal #editDialog>
  <ng-template #modalHeader>Edit Retailer</ng-template>
  <ng-template #modalBody>

    <!--<h3 style="text-align:center;">Edit info</h3> -->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
    <div class="row align-self-center">

      <div class="col-md-12 col-sm-12 col-12 text-left">
			<h4 style="margin-bottom:10px;font-weight:normal;">Retailer Details</h4>
			</div>

      <div class="col-md-12 col-sm-12 col-12 text-left">Store Name:</div>
      <div class="col-md-12 col-sm-12 col-12"><input class="form-control" formControlName="name" type="text"></div>
      <br><br>
      <div class="col-md-12 col-sm-12 col-12 text-left">Store Person/Owner:</div>
      <div class="col-md-12 col-sm-12 col-12"><input class="form-control" formControlName="owner" type="text" required></div>
      <br><br>
      <div class="col-md-12 col-sm-12 col-12 text-left">Credit Limit:</div>
      <div class="col-md-12 col-sm-12 col-12"><input class="form-control" formControlName="limit" (click)="onLimit()" (blur)="onLimitr()"  id="limit" type="text" required></div>
      <br><br>
      <div class="col-md-12 col-sm-12 col-12 text-left">Street:</div>
      <div class="col-md-12 col-sm-12 col-12"><input class="form-control" formControlName="street" type="text" required></div>
      <br><br>
      <div class="col-md-12 col-sm-12 col-12 text-left">Agent:</div>
      <div class="col-md-12 col-sm-12 col-12">
        <select class="form-control" formControlName="agent">
          <option selected disabled>Choose Agent</option>
          <option *ngFor="let i of agents" value="{{ i.id }}">{{ i.name }}</option>
        </select>
      </div>
      <br><br>
      <div class="col-md-12 col-sm-12 col-12 text-left">District:</div>
      <div class="col-md-12 col-sm-12 col-12">
        <select class="form-control full-width" formControlName="district" required>
          <option value="" >-- Choose --</option>
          <option value="District1">District1</option>
          <option value="District2">District2</option>
          <option value="Sales District3">District3</option>
        </select>
      </div>
      <br><br>
      <div class="col-md-12 col-sm-12 col-12 text-left">Region:</div>
      <div class="col-md-12 col-sm-12 col-12">
        <select class="form-control full-width" formControlName="region" required>
          <option value="" >-- Choose --</option>
          <option value="Region1">Region 1</option>
          <option value="Region2">Region 2</option>
          <option value="Region3">Region 3</option>
        </select>
      </div>

    </div>
  </div>
</form>


  </ng-template>
  <ng-template #modalFooter>
    <div class="container-fluid">
      <div class="row">
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-success btn-block text-center" (click)="onSubmit()" style="margin:3px;">Save</button>
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-default btn-block text-center" (click)="closeEditModal()" style="margin:3px;">Cancel</button>
      	</div>
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      </div>
    </div>
  </ng-template>
</app-modal>

<app-modal #deleteDialog>
  <ng-template #modalHeader>Delete Retailer</ng-template>
  <ng-template #modalBody>
    <div class="container">
      <div class="row alert alert-info">
        <div class="col-md-10 form-inline">
          <h5>Are you sure you want to delete "{{retailerName}}"?</h5>
        </div>
      </div>
    </div>
    <!--<h3 style="text-align:center;">Are you sure?</h3>-->
  </ng-template>
  <ng-template #modalFooter>
    <div class="container-fluid">
      <div class="row">
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-danger btn-block text-center" (click)="onDeleteRetailer()" style="margin:3px;">Delete</button>
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-default btn-block text-center" (click)="closeDeleteModal()" style="margin:3px;">Cancel</button>
      	</div>
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      </div>
    </div>
  </ng-template>
</app-modal>
