:host ::ng-deep .fmcg-modal .fmcg-modal-content {
    width: 50%;
    margin-top: 100px;

}
:host ::ng-deep .fmcg-modal .fmcg-modal-body{
  overflow: auto !important;
  max-height: 200%;
}

:host ::ng-deep .fmcg-modal .fmcg-modal-background {
    height: 115%;
}

.content {
    padding: 0 40px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
}

.fa-barcode {
    font-size: 4em;
    margin: 0 auto;
}

.row-form {
    margin-top: 1vh;
}

.rpad-left {
    padding-left: 0;
}

.rpad-right {
    padding-right: 0;
}

.no-margin {
    margin: 0;
}

.btn-item-create {
    padding: 0.375rem 50px;
}

.btn-item-create2 {

    padding: 0.375rem 46px;
}
