<app-modal #itemEditModal>
	<ng-template #modalHeader>Edit User</ng-template>

	<ng-template #modalBody>
		<div class="content">


			<form class="row-form">

				<div class="container-fluid">
					<div class="row align-self-center">
						<div class="col-md-6 col-sm-12 col-12 text-left">First Name:</div>
						<div class="col-md-6 col-sm-12 col-12"><input class="form-control" placeholder="" type="text"></div>

						<div class="col-md-6 col-sm-12 col-12 text-left">First Name:</div>
						<div class="col-md-6 col-sm-12 col-12"><input class="form-control" placeholder="" type="text"></div>

						<div class="col-md-6 col-sm-12 col-12 text-left">Username:</div>
						<div class="col-md-6 col-sm-12 col-12"><input class="form-control" placeholder="" type="text"></div>

						<div class="col-md-6 col-sm-12 col-12 text-left">E-mail:</div>
						<div class="col-md-6 col-sm-12 col-12"><input class="form-control" placeholder="" type="email"></div>

					</div>
				</div>

			</form>
		</div>
	</ng-template>

	<ng-template #modalFooter>

		<!--
		<div class="row">
			<div class="col-md-6 text-right">
				<button class="btn btn-item-create btn-success">Save</button>
			</div>
			<div class="col-md-6 text-left">
				<button class="btn btn-item-create btn-default" (click)="closeModal()">Cancel</button>
			</div>
		</div>
	-->

	<div class="container-fluid">
		<div class="container-fluid">
      <div class="row">
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-item-create btn-success btn-block text-center" style="margin:3px;">Save</button>
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-item-create btn-default btn-block text-center" (click)="closeModal()" style="margin:3px;">Cancel</button>
      	</div>
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      </div>
    </div>
	</div>


	</ng-template>
</app-modal>
