<app-modal #cashDenomModal>
  <ng-template #modalHeader>Cash Denomination</ng-template>
  <ng-template #modalBody>
    <table class="table table-bordered">
      <thead class="tbl-header">
        <tr>
          <th>SR</th>
          <th>Note</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody class="tbl-body">
        <tr *ngFor="let c of cash_denom">
          <td>{{ c.id }}</td>
          <td>{{ c.note }}</td>
          <td>{{ c.quantity }}</td>
          <td>{{ c.amount }}</td>
        </tr>
        <tr>
          <td colspan="3" class="total-cell">Total</td>
          <td>{{ total_denom }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>

	<ng-template #modalFooter>
		<div class="row">
      <div class="col-md-2 col-sm-0 col-0">
      </div>
			<div class="col-md-8 col-sm-12 col-12">
				<button class="btn btn-item-create btn-success btn-block text-center" (click)="closeModal()" style="margin:3px;">Ok</button>
			</div>
      <div class="col-md-2 col-sm-0 col-0">
      </div>
		</div>
	</ng-template>
</app-modal>
