<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-6">
        <h3 class="tab-title">Inventory</h3>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 text-right">
        <button class="btn btn-gray" (click)="onNewItem()">
            <i class="fa fa-plus"></i>
            <span class="btn-text">&nbsp;New Item</span>
        </button>
    </div>
</div>

<app-inventory-item-create #onNewItemComponent></app-inventory-item-create>

<div class="row row-filter">
    <div class="col-md-1 col-form form-inline">
        <label>Filters :</label>
    </div>
    <div class="col-md-2 col-form form-inline">
        <select (change)="onFilterCategoryChange($event)" [value]="filterCategory" class="form-control full-width">
            <option value="" selected hidden disabled>-- Category --</option>
            <option value="category 1">Category 1</option>
            <option value="category 2">Category 2</option>
            <option value="category 3">Category 3</option>
        </select>
    </div>
    <div class="col-md-2 col-form form-inline">
        <select (change)="onFilterSubCategoryChange($event)" [value]="filterSubCategory" class="form-control full-width">
            <option value="" selected hidden disabled>-- Sub Category --</option>
            <option value="sub category 1">Sub Category 1</option>
            <option value="sub category 2">Sub Category 2</option>
            <option value="sub category 3">Sub Category 3</option>
        </select>
    </div>
    <div class="col-md-2 col-form form-inline">
        <input type="date" (input)="onFilterDateChange($event)" [value]="filterDate" class="form-control full-width">
    </div>
    <div class="col-md-5 col-form form-inline">
        <div class="input-group full-width less-mt" id="manageitsearch">
            <input (input)="onFilterSearchChange($event)" (keydown)="onKeyDown($event)" [value]="searchQuery" class="form-control" placeholder="Search" type="text">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="onSearch()"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</div>


<app-inventory-table
    [inventoryList]="inventoryList"
    [filterCategory]="filterCategory"
    [filterSubCategory]="filterSubCategory"
    [filterSearchQuery]="filterSearchQuery"
    [filterDate]="filterDate">
</app-inventory-table>
