@media (min-width: 200px) {
    .btn-text {
        display: none;
    }

    .col-form {
        margin-bottom: 1vh;
    }
}

@media (min-width: 576px) {

}


@media (min-width: 768px) {
    .btn-text {
        display: inline;
    }
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


.no-margin {
    margin: 0 !important;
}

.btn-gray {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #FFFFFF;
}

.tab-title {
    width: 100%;
}

.row-filter {
    margin-top: 2vh;
}

.full-width {
    width: 100%;
}