<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<!--<h3 class="tab-title">Stock Transfer Orders</h3>-->
	</div>
</div>

<div class="row row-filter">

	<div class="col-md-1 col-form form-inline">
			<label>Filters :</label>
	</div>
	<div class="col-md-2 col-form form-inline">
			<select (change)="onFilterTransferChange($event)" [value]="filterTransfer" class="form-control full-width">
					<option value="" selected>-- Transfer Order --</option>
					<option *ngFor="let datas of stocktransferoderlist" value="{{ datas.id}}">{{ datas.id}}</option>
			</select>
	</div>
	<div class="col-md-2 col-form form-inline">
			<select (change)="onFilterAgentChange($event)" [value]="filterAgent" class="form-control full-width">
					<option value="" selected>-- Agent Name --</option>
					<option *ngFor="let datas of arr" value="{{ datas.username}}">{{ datas.name }}</option>
			</select>
	</div>

	<div class="col-md-2 col-form form-inline">
			<input type="date" (input)="onFilterDateChange($event)" [value]="filterDate" class="form-control full-width">
	</div>

	<div class="col-md-5 col-form form-inline">
    <div class="input-group full-width less-mt" id="manageitsearch">
      <input (input)="onFilterSearchChange($event)" (keydown)="onKeyDown($event)" [value]="searchQuery" class="form-control" placeholder="Search" type="text">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="onSearch()"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>

</div>
<br>

<!-- table -->
<!--
	<table class="borderedtable">
		  <thead>
		    <tr class="tbl-header">
		      <th scope="col" [class.active]="order === 'transfer_order'"
		        (click)="setOrder('transfer_order')">Transfer Order Number
		        <span [hidden]="reverse">▼</span>
		        <span [hidden]="!reverse">▲</span>
					</th>
		      <th scope="col" [class.active]="order === 'agent_name'"
		        (click)="setOrder('agent_name')">Agent Name
		        <span [hidden]="reverse">▼</span>
		        <span [hidden]="!reverse">▲</span>
					</th>
		      <th scope="col" [class.active]="order === 'date'"
		        (click)="setOrder('date')">Date of Request
		        <span [hidden]="reverse">▼</span>
		        <span [hidden]="!reverse">▲</span>
					</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let datas of stocktransferoderlist  | filter_stock: filterTransfer:filterAgent:filterDate | search_stock: filterSearchQuery |  paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
		      <td><a class="links" (click)="onStockApproved(datas)">{{ datas.id}}</a></td>
		      <td>{{ datas.user.first_name }} {{ datas.user.last_name }}</td>
		      <td class="datetoformat">{{ datas.delivery_date  | date:"MM-dd-yyyy"}}</td>
		    </tr>
		  </tbody>
		</table>
-->

<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
    <thead>
			<tr class="tbl-header">
				<th scope="col" [class.active]="order === 'transfer_order'"
					(click)="setOrder('transfer_order')">Transfer Order Number
					<span [hidden]="reverse">▼</span>
					<span [hidden]="!reverse">▲</span>
				</th>
				<th scope="col" [class.active]="order === 'agent_name'"
					(click)="setOrder('agent_name')">Agent Name
					<span [hidden]="reverse">▼</span>
					<span [hidden]="!reverse">▲</span>
				</th>
				<th scope="col" [class.active]="order === 'date'"
					(click)="setOrder('date')">Date of Request
					<span [hidden]="reverse">▼</span>
					<span [hidden]="!reverse">▲</span>
				</th>
			</tr>
    </thead>
    <tbody>
			<tr *ngFor="let datas of stocktransferoderlist  | filter_stock: filterTransfer:filterAgent:filterDate | search_stock: filterSearchQuery |  paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
				<td><div class='divlink' (click)="openForApproveModal(datas)">{{ datas.id}}</div>
				<td>{{ datas.user.first_name }} {{ datas.user.last_name }}</td>
				<td class="datetoformat">{{ datas.delivery_date  | date:"MM-dd-yyyy"}}</td>
			</tr>

    </tbody>

  </table>
</div>

			<div class="row">
				<div class="col-md-6 form-inline text-right">
					<label>Show :</label>&nbsp;&nbsp;
					<select (change)="onShowCountChange($event)" class="form-control sel-show small-width">
									<option selected value="5">5</option>
									<option value="10">10</option>
						<option value="25">25</option>
						<option value="50">50</option>
							</select>
					</div>
				<div class="col-md-6 text-right" >
					<div class="form-group pg-form-group ">
						<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
					</div>
				</div>
			</div>


<app-stocktransferapproval #onStockApprovedComponent></app-stocktransferapproval>



<app-modal #stockDetails>
  <ng-template #modalHeader>Stock Approval</ng-template>
  <ng-template #modalBody>
		<div class="content">
			<div class="table-responsive">
				<table class="table borderedtable">
						<thead>
							<tr class="tbl-header">
								<th scope="col" [class.active]="order === 'transfer_order'"
									(click)="setOrder('request_product')">Requested Product</th>
								<th scope="col" [class.active]="order === 'transfer_order'"
									(click)="setOrder('uom')">UOM</th>
								<th scope="col" [class.active]="order === 'transfer_order'"
									(click)="setOrder('requested_quantity')">Requested Quantity</th>
								<th scope="col" [class.active]="order === 'transfer_order'"
									(click)="setOrder('approved_quantity')">Approved Quantity</th>
								<th scope="col" [class.active]="order === 'transfer_order'"
									(click)="setOrder('estimated_sales')">Estimated Sales (QTY)</th>
								<th scope="col" [class.active]="order === 'transfer_order'"
									(click)="setOrder('update_request')">Update Request</th>
							</tr>
					</thead>

					<tbody>
						<tr *ngFor="let datas of data_content.items">
							<td>{{ datas.item.name}}</td>
							<td>{{ datas.item.uom }}</td>
							<td>{{ datas.quantity_requested }}</td>
							<td>{{ datas.quantity_approved }}</td>
							<td>{{ datas.projected_sales }}</td>
							<td>
								<ng-container *ngIf="datas.quantity_requested > datas.quantity_received; else elseTemplate">
								<button class="btn btn-success btn-block text-center" (click)="onConfirmApproval(datas)">Confirm</button>
								</ng-container>
								<ng-template #elseTemplate>
								-
								</ng-template>

							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
  </ng-template>


  <ng-template #modalFooter>
    <div class="container-fluid">
      <div class="row">


        <!--
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-item-create btn-success btn-block text-center" (click)="onEditSubmit()" style="margin:3px;">Save</button>
      	</div>
      	<div class="col-md-4 col-sm-12 col-12">
      		<button class="btn btn-item-create btn-default btn-block text-center" (click)="closeEditAnnouncement()" style="margin:3px;">Cancel</button>
      	</div>
      	<div class="col-md-2 col-sm-0 col-0">
      	</div>
        -->
      </div>
    </div>
  </ng-template>

</app-modal>



<app-modal #confirmApproval>
	<ng-template #modalHeader>Confirm Approval</ng-template>

	<ng-template #modalBody>
		<div class="content">

			<form class="row-form">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
								<h4>Details</h4>
						</div>
						<div class="form-group">
								<label>Quantity to be Approved:</label>
								<input type="number" class="form-control" name="for_approval" #ipt />
						</div>
					</div>
				</div>
			</form>
		</div>
	</ng-template>

	<ng-template #modalFooter>
		<div class="row">
			<div class="col-md-6 text-right pd-bt">
				<button class="btn btn-item-create2 btn-success" (click)="onApproveStock()">Approve</button>
			</div>

			<div class="col-md-6 text-left">
				<button class="btn btn-item-create btn-default" (click)="onConfirmClose()">Cancel</button>
			</div>
		</div>
	</ng-template>

</app-modal>
