<div class="routestab">
    <div class="container">
        <h3>Retailers</h3>
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./list">Retailers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./approval">For Approval</a>
            </li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="container tab-pane active"><br>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

