<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form>
                <div class="form-group row">
                    <div class="col-sm-6">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="tab-content ml-1" id="myTabContent">
                                        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 col-5">
                                                    <label style="font-weight:bold;">Full Name</label>
                                                </div>
                                                <div class="col-md-7 col-6">
                                                    {{usersession.first_name}} {{usersession.last_name}}
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 col-5">
                                                    <label style="font-weight:bold;">Email</label>
                                                </div>
                                                <div class="col-md-7 col-6">
                                                    {{usersession.email}}
                                                </div>
                                            </div>
                                            <hr />


                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 col-5">
                                                    <label style="font-weight:bold;">Role</label>
                                                </div>
                                                <div class="col-md-7 col-6">
                                                    {{usersession.profile.role.name}}
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 col-5">
                                                    <label style="font-weight:bold;">Company Name</label>
                                                </div>
                                                <div class="col-md-7 col-6">
                                                    {{usersession.profile.role.company.name}}
                                                </div>
                                            </div>
                                            <hr />


                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="card card-container">
                                <p id="profile-name" class="profile-name-card">Change Password</p>
                                  <form [formGroup]="ChangeForm" (ngSubmit)="onSubmitChange()" class="form-signin">
                                        <span id="reauth-email" class="reauth-email">{{response}}</span>

                                        <div class="form-group">
                                            <input formControlName="newpassword" type="text" id="inputnewpass" class="form-control"
                                                   placeholder="New Password" required autofocus [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                                            <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                                                    <div *ngIf="f.newpassword.errors.required">Username is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="confirmpassword" type="email" id="inputEmail" class="form-control"
                                                   placeholder="Confirm Password" required [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
                                            <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                                  <div *ngIf="f.confirmpassword.errors.required">Email must be a valid email address</div>
                                            </div>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
                                </form><!-- /form -->
                          </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
