<div class="routestab">
    <div class="container">
        <!-- <h3 class="page-title">Reports</h3> -->
        <!-- Nav Tabs -->

        		<h3 class="tab-title">Purchase Orders</h3>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="./orders">Purchase Orders</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active"><br>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
