<div [ngClass]="{scrollable_container: itemsPerPage > 5}" *ngFor="let r of arrRetailers2">

  <div style="margin-bottom:10px;">
      <div class="row row-filter">
        <div class="col-md-1 col-form form-inline">
            <label>Filters :</label>
        </div>
        <div class="col-md-3 col-form form-inline" >
        </div>
        <div class="col-md-3 col-form form-inline">
            <select class="form-control full-width" *ngFor="let a of agentsList">
                <option selected (click)="setAgent('All')">All Agents</option>
                <option *ngFor="let ret of a.data" (click)="setAgent(ret.id)">{{ ret.first_name+' '+ret.last_name }}</option>
            </select>
        </div>
        <div class="col-md-5 col-form form-inline">
            <div class="input-group full-width less-mt" id="manageitsearch">
                <input (input)="onFilterSearchChange($event)" (keydown)="onKeyDown($event)" [value]="searchQuery" class="form-control" placeholder="Search" type="text">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" (click)="onSearch()"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>

      </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered inventory-table">
      <thead class="stickDiv">
        <tr class="tbl-header">
          <th [class.active]="order === 'name'"
            (click)="setRetailerOrder('name', 'name')">Store Name
            <span [hidden]="name">
              <span [hidden]="reverseName">▼</span>
              <span [hidden]="!reverseName">▲</span>
            </span>
          </th>
          <th [class.active]="order === 'owner'"
              (click)="setRetailerOrder('owner', 'owner')"
              class="mdl-data-table__cell--non-numeric">
            Store Person/Owner
            <span [hidden]="owner">
              <span [hidden]="reverseOwner">▼</span>
              <span [hidden]="!reverseOwner">▲</span>
            </span>
          </th>
          <th [class.active]="order === 'house_number'"
            (click)="setRetailerOrder('house_number', 'house_number')">Address
            <span [hidden]="house_number">
              <span [hidden]="reverseHouseNumber">▼</span>
              <span [hidden]="!reverseHouseNumber">▲</span>
            </span>
          </th>
          <th [class.active]="order === 'agent'"
            (click)="setRetailerOrder('agent', 'agent')">Agent
            <span [hidden]="agent">
              <span [hidden]="reverseAgent">▼</span>
              <span [hidden]="!reverseAgent">▲</span>
            </span>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ret of r.data | orderBy: order: reverse | selectSpecific : agents | search: filterSearchQuery | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <td>{{ ret.name }}</td>
          <td>{{ ret.owner }}</td>
          <td>{{ ret.house_number + ' ' + ret.street_name + ' ' + ret.township + ' ' + ret.country}}</td>
          <td>{{ ret.agent }}</td>
          <td style="text-align:center;">
            <button class="btn btn-secondary text-center" style="margin:3px;width:100px;" type="button" (click)="openConfirmationModal(ret.id)">Approve
            </button>
            <button class="btn btn-secondary text-center" style="margin:3px;width:100px;" type="button" (click)="openCancelModal(ret.id)">Reject
            </button>
            <!--
            <div class="row">
              <button class="btn btn-primary btn-sm float-right col-md-4">Approve</button>
              <button class="btn btn-danger btn-sm float-left col-md-4">Reject</button>
            </div>-->
          </td>
        <tr>
        <tr>
          <td *ngIf="retailerCount <= 0" style="text-align:center" colspan="5">No Retailers found.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <div class="row" *ngIf="retailerCount > 0">
  	<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-inline">
  		<label>Show :</label>&nbsp;&nbsp;
  		<select (change)="onShowCountChange($event)" class="form-control sel-show full-width">
              <option selected value="5">5</option>
              <option value="10">10</option>
  			<option value="25">25</option>
  			<option value="50">50</option>
          </select>
      </div>
  	<div class="col-md-6 col-sm-6 col-6 col-lg-6">
  		<div class="form-group pg-form-group text-right">
  			<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
  		</div>
  	</div>
  </div>
</div>

<app-modal #confirmationDialog>
  <ng-template #modalHeader>Approve</ng-template>
  <ng-template #modalBody>
    <div class="content">
			<div class="row alert alert-info">
				<div class="col-md-10 form-inline text-align:center;">
          <h5>Are you sure?</h5>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
		<div class="row">
      <div class="col-md-2 col-sm-0 col-0">
      </div>
			<div class="col-md-4 col-sm-12 col-12">
				<button class="btn btn-item-create btn-success btn-block text-center" (click)="approveRetailer()" style="margin:3px;">Yes</button>
			</div>
			<div class="col-md-4 col-sm-12 col-12">
				<button class="btn btn-item-create btn-default btn-block text-center" (click)="closeConfirmationModal()" style="margin:3px;">Cancel</button>
			</div>
      <div class="col-md-2 col-sm-0 col-0">
      </div>
		</div>
  </ng-template>
</app-modal>

<app-modal #cancelDialog>
  <ng-template #modalHeader>Reject</ng-template>
  <ng-template #modalBody>
    <div class="content">
			<div class="row alert alert-info">
				<div class="col-md-10 form-inline text-align:center;">
          <h5>Are you sure?</h5>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
		<div class="row">
      <div class="col-md-2 col-sm-0 col-0">
      </div>
			<div class="col-md-4 col-sm-12 col-12">
				<button class="btn btn-item-create btn-success btn-block text-center" (click)="denyRetailer()" style="margin:3px;">Yes</button>
			</div>
			<div class="col-md-4 col-sm-12 col-12">
				<button class="btn btn-item-create btn-default btn-block text-center" (click)="closeCancelModal()" style="margin:3px;">Cancel</button>
			</div>
      <div class="col-md-2 col-sm-0 col-0">
      </div>
		</div>
  </ng-template>
</app-modal>
