@media (min-width: 200px) {
    .container {
        max-width: none;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}


@media (min-width: 768px) {
    .container {
        max-width: none;
    }
}


@media (min-width: 992px) {
    .container {
        max-width: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: none;
        width: 95%;
        margin: 0 auto;
    }
}

.page-title {
    margin-bottom: 1.2rem;
}

.tab-content {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #dee2e6;
    padding: 20px;
}
